body {
  margin-top: 10%;
  background-color: #f9e26c !important;
}

.navbar-nav{
    padding-left: 20%;
  }

  .banner {
    height: 500px; 
    position: relative;
    background-color: #c1cbdc !important;
    padding: 10%; 
    border-radius: 15px; 
    overflow: hidden; 
    border: 2px solid black;
  }
  .banner-text {
    position: absolute;
    left: 5%;
    top: 70%;
    transform: translateY(-50%);
    z-index: 1;
  }


  .bg-light-green {
    background-color: #d9e7c8;
  }
  
  section a.btn-warning {
    background-color: #e9d55f;
    color: black;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  section a.btn-warning:hover {
    background-color: #d4c152; 
  }
  
  section p.text-muted {
    line-height: 1.6;
  }
  
  
  @media (max-width: 768px) {
    .card-image {
      height: 150px;
    }
    .customizable-bowl-section .btn {
      margin-bottom: 20px;
    }
    .customizable-bowl-section .btn {
      margin-bottom: 30px;
    }
  }


  @media (max-width: 768px) {
    .banner {
        background-color: #c1cbdc !important;
        height: 300px;
    }
    .banner-text {
        top: 50%;
    }
  }
